@font-face {
    font-family: zzz;
    src: url(ZZZ.ttf);
}

html {
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

element::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, and Opera */
}

body {
    background-color: black;
    margin: 0px;
    padding: 0px;
    font-family: zzz;
    color: white;
    scroll-behavior: smooth;
    overflow: hidden;
}

.hi {
    all: unset;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid rgb(86, 86, 86);
    border-radius: 30px;
    width: 30%;
    display: flex;
    justify-content: center;
    transition: border 0.1s ease-in;
    transition: opacity 0.1s ease-in;
}

.hi:hover {
    border: 4px solid rgb(121, 121, 121);
}

.hi:active {
    border: 4px solid rgb(11, 227, 0);
}

#entrance {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: height 1s ease, opacity 1s ease;
}

#entrance.clicked {
    height: 0%;
    opacity: 0%;
}

.home {
    position: relative;
    opacity: 0%;
}

.home.clicked {
    opacity: 100%;
}

.front {
    height: 100vh;
    width: 100dvw;
    display: grid;
    grid-template-rows: 7fr min-content 3fr;
    justify-content: center;
    /* border: 1px solid green; */
}

.front .navigation {
    grid-row: 1 / 3;
    grid-column: 1;

    display: flex;
    overflow: hidden;
    /* border: 1px solid yellow; */
    width: 100dvw;
    align-items: stretch;
    justify-content: space-between;
    /* padding: 40px 0px; */
}

.front .pad {
    flex: 1 1 0;
    transition: flex 0.3s ease;
    clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
    /* border: 1px solid red; */
    overflow: hidden;

    position: relative;
}

.front .pad.hover {
    flex: 0.8 1 0;
    opacity: 50%;
}

.front .pad .padimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.2s;
    opacity: 100%;
}

.front .pad .padimg.hide {
    opacity: 0%;
}

.name {
    background-color: rgb(29, 29, 29);
    font-size: 12px;
    padding: 5px 30px;
    border-radius: 20px 20px 0px 0px;
    margin: auto;

    grid-row: 2 / 3;
    grid-column: 1;
    z-index: 0;
}

.text {
    background-color: rgb(12, 12, 12);
    border-radius: 20px;
    padding: 10px 10px;
    border: 4px solid rgb(29, 29, 29);
    align-self: stretch;
    margin: 0px 10px;
    font-size: 1.4vw;
    line-height: 2;
}

.text .icon {
    font-size: 2.5vw;
    vertical-align: middle;
}

.text a {
    color: white;
}

.links {
    position: absolute;
    inset: 0% 0%;
    height: 75%;
    display: flex;
    justify-content: stretch;
    /* border: 1px solid yellow; */
}

.links .overlay {
    flex: 1 1 0;
    opacity: 0%;
    transition: opacity 0.5s;

    /* border: 1px solid red; */

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
}

.links .overlay.hover {
    opacity: 100%
}

.overlay .con {
    opacity: 20%;
    transition: opacity 0.3s;
    flex: 1 1 0;

    text-shadow: 2px 2px 5px black;
    /* border: 1px solid green; */

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.overlay .con:hover {
    opacity: 100%
}

.con h1 {
    font-size: 2dvw;
}

.overlay#output .con h1 {
    display: block;
    /* border: 1px solid blue; */
    align-self: flex-start;
    padding: 10%;
}

.overlay#output2 .con h1 {
    display: block;
    /* border: 1px solid blue; */
    text-align: center;
    align-self: center;
    padding: 10%;
}

.overlay#output3 .con h1 {
    display: block;
    /* border: 1px solid blue; */
    align-self: flex-end;
    padding: 10%;
}

.custom-alert {
    position: fixed;
    top: 20px;
    right: 20px;
    background: rgb(12, 12, 12);
    color: white;
    padding: 15px 20px;
    border: 4px solid rgb(29, 29, 29);
    border-radius: 20px;
    z-index: 9999;
    opacity: 0;
    transform: translateX(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.custom-alert.show {
    opacity: 1;
    transform: translateX(0);
}